/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  margin: 0;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

p,
a {
  font-size: 12px;
}

.content-area {
  padding: 0 100px;
}

@media (max-width: 959px) {
  .content-area {
    padding: 0 10px;
  }
}
