[class^="span"]{
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px; 
}

@media screen and (max-width: 575px){
    .span-md-1{
        width: 5%;
    }
    .span-md-2{
        width: 10%;
    }
    .span-md-3{
        width: 15%;
    }
    .span-md-4{
        width: 20%;
    }
    .span-md-5{
        width: 25%;
    }
    .span-md-6{
        width: 30%;
    }
    .span-md-7{
        width: 35%;
    }
    .span-md-8{
        width: 40%;
    }
    .span-md-9{
        width: 45%;
    }
    .span-md-10{
        width: 50%;
    }
    .span-md-11{
        width: 55%;
    }
    .span-md-12{
        width: 60%;
    }
    .span-md-13{
        width: 65%;
    }
    .span-md-14{
        width: 70%;
    }
    .span-md-15{
        width: 75%;
    }
    .span-md-16{
        width: 80%;
    }
    .span-md-17{
        width: 85%;
    }
    .span-md-18{
        width: 90%;
    }
    .span-md-19{
        width: 95%;
    }
    .span-md-20{
        width: 100%;
    }
    .p2ircBackdropVideo{
        width:auto;
        height:100%;
    }
    .img{
        width: 100%;
        height: auto;
    }
    .floating-toolbar > button{
        font-size: small;
    }
}

@media screen and (min-width: 576px){
    .span-sm-1{
        width: 5%;
    }
    .span-sm-2{
        width: 10%;
    }
    .span-sm-3{
        width: 15%;
    }
    .span-sm-4{
        width: 20%;
    }
    .span-sm-5{
        width: 25%;
    }
    .span-sm-6{
        width: 30%;
    }
    .span-sm-7{
        width: 35%;
    }
    .span-sm-8{
        width: 40%;
    }
    .span-sm-9{
        width: 45%;
    }
    .span-sm-10{
        width: 50%;
    }
    .span-sm-11{
        width: 55%;
    }
    .span-sm-12{
        width: 60%;
    }
    .span-sm-13{
        width: 65%;
    }
    .span-sm-14{
        width: 70%;
    }
    .span-sm-15{
        width: 75%;
    }
    .span-sm-16{
        width: 80%;
    }
    .span-sm-17{
        width: 85%;
    }
    .span-sm-18{
        width: 90%;
    }
    .span-sm-19{
        width: 95%;
    }
    .span-sm-20{
        width: 100%;
    }
    .p2ircBackdropVideo{
        width:auto;
        height:100%;
    }
    .img{
        width: 100%;
        height: auto;
    }
    .floating-toolbar > button{
        font-size: small;
    }
}

/* @media (max-width: 767px) {
    .p2ircBackdropVideo {
        width:100%;
        height:auto;
    }
    .img{
        width: 100%;
        height: auto;
    }
    .floating-toolbar > button{
        font-size: small;
    }
} */

@media screen and (min-width: 768px){
    .span-md-1{
        width: 5%;
    }
    .span-md-2{
        width: 10%;
    }
    .span-md-3{
        width: 15%;
    }
    .span-md-4{
        width: 20%;
    }
    .span-md-5{
        width: 25%;
    }
    .span-md-6{
        width: 30%;
    }
    .span-md-7{
        width: 35%;
    }
    .span-md-8{
        width: 40%;
    }
    .span-md-9{
        width: 45%;
    }
    .span-md-10{
        width: 50%;
    }
    .span-md-11{
        width: 55%;
    }
    .span-md-12{
        width: 60%;
    }
    .span-md-13{
        width: 65%;
    }
    .span-md-14{
        width: 70%;
    }
    .span-md-15{
        width: 75%;
    }
    .span-md-16{
        width: 80%;
    }
    .span-md-17{
        width: 85%;
    }
    .span-md-18{
        width: 90%;
    }
    .span-md-19{
        width: 95%;
    }
    .span-md-20{
        width: 100%;
    }
    .p2ircBackdropVideo{
        width:100%;
        height:auto;
    }
    .img{
        width: 100%;
        height: auto;
    }
    .floating-toolbar > button{
        font-size: small;
    }
}

@media screen and (min-width: 992px){
    .span-lg-1{
        width: 5%;
    }
    .span-lg-2{
        width: 10%;
    }
    .span-lg-3{
        width: 15%;
    }
    .span-lg-4{
        width: 20%;
    }
    .span-lg-5{
        width: 25%;
    }
    .span-lg-6{
        width: 30%;
    }
    .span-lg-7{
        width: 35%;
    }
    .span-lg-8{
        width: 40%;
    }
    .span-lg-9{
        width: 45%;
    }
    .span-lg-10{
        width: 50%;
    }
    .span-lg-11{
        width: 55%;
    }
    .span-lg-12{
        width: 60%;
    }
    .span-lg-13{
        width: 65%;
    }
    .span-lg-14{
        width: 70%;
    }
    .span-lg-15{
        width: 75%;
    }
    .span-lg-16{
        width: 80%;
    }
    .span-lg-17{
        width: 85%;
    }
    .span-lg-18{
        width: 90%;
    }
    .span-lg-19{
        width: 95%;
    }
    .span-lg-20{
        width: 100%;
    } 
    .p2ircBackdropVideo{
        width:100%;
        height:auto;
    }
    .img{
        width: 100%;
        height: auto;
    }
    .floating-toolbar > button{
        font-size: large;
    }
}

@media screen and (min-width: 1200px){
    .span-lg-1{
        width: 5%;
    }
    .span-lg-2{
        width: 10%;
    }
    .span-lg-3{
        width: 15%;
    }
    .span-lg-4{
        width: 20%;
    }
    .span-lg-5{
        width: 25%;
    }
    .span-lg-6{
        width: 30%;
    }
    .span-lg-7{
        width: 35%;
    }
    .span-lg-8{
        width: 40%;
    }
    .span-lg-9{
        width: 45%;
    }
    .span-lg-10{
        width: 50%;
    }
    .span-lg-11{
        width: 55%;
    }
    .span-lg-12{
        width: 60%;
    }
    .span-lg-13{
        width: 65%;
    }
    .span-lg-14{
        width: 70%;
    }
    .span-lg-15{
        width: 75%;
    }
    .span-lg-16{
        width: 80%;
    }
    .span-lg-17{
        width: 85%;
    }
    .span-lg-18{
        width: 90%;
    }
    .span-lg-19{
        width: 95%;
    }
    .span-lg-20{
        width: 100%;
    }
    .p2ircBackdropVideo{
        width:100%;
        height:auto;
    }
    .img{
        width: 100%;
        height: auto;
    }
    .floating-toolbar > button{
        font-size: large;
    }
}

@media screen and (min-width: 1800px){
    .span-xl-1{
        width: 5%;
    }
    .span-xl-2{
        width: 10%;
    }
    .span-xl-3{
        width: 15%;
    }
    .span-xl-4{
        width: 20%;
    }
    .span-xl-5{
        width: 25%;
    }
    .span-xl-6{
        width: 30%;
    }
    .span-xl-7{
        width: 35%;
    }
    .span-xl-8{
        width: 40%;
    }
    .span-xl-9{
        width: 45%;
    }
    .span-xl-10{
        width: 50%;
    }
    .span-xl-11{
        width: 55%;
    }
    .span-xl-12{
        width: 60%;
    }
    .span-xl-13{
        width: 65%;
    }
    .span-xl-14{
        width: 70%;
    }
    .span-xl-15{
        width: 75%;
    }
    .span-xl-16{
        width: 80%;
    }
    .span-xl-17{
        width: 85%;
    }
    .span-xl-18{
        width: 90%;
    }
    .span-xl-19{
        width: 95%;
    }
    .span-xl-20{
        width: 100%;
    }
    .p2ircBackdropVideo{
        width:100%;
        height:auto;
    }
    .img{
        width: 100%;
        height: auto;
    }
    .floating-toolbar > button{
        font-size: large;
    }
}

@media screen and (min-width: 2001px){
    .span-xxl-1{
        width: 5%;
    }
    .span-xxl-2{
        width: 10%;
    }
    .span-xxl-3{
        width: 15%;
    }
    .span-xxl-4{
        width: 20%;
    }
    .span-xxl-5{
        width: 25%;
    }
    .span-xxl-6{
        width: 30%;
    }
    .span-xxl-7{
        width: 35%;
    }
    .span-xxl-8{
        width: 40%;
    }
    .span-xxl-9{
        width: 45%;
    }
    .span-xxl-10{
        width: 50%;
    }
    .span-xxl-11{
        width: 55%;
    }
    .span-xxl-12{
        width: 60%;
    }
    .span-xxl-13{
        width: 65%;
    }
    .span-xxl-14{
        width: 70%;
    }
    .span-xxl-15{
        width: 75%;
    }
    .span-xxl-16{
        width: 80%;
    }
    .span-xxl-17{
        width: 85%;
    }
    .span-xxl-18{
        width: 90%;
    }
    .span-xxl-19{
        width: 95%;
    }
    .span-xxl-20{
        width: 100%;
    }
    .p2ircBackdropVideo{
        width:100%;
        height:auto;
    }
    .img{
        width: 100%;
        height: auto;
    }
    .floating-toolbar > button{
        font-size: large;
    }
}

@media screen and (min-width: 2201px){
    .span-xxxl-1{
        width: 5%;
    }
    .span-xxxl-2{
        width: 10%;
    }
    .span-xxxl-3{
        width: 15%;
    }
    .span-xxxl-4{
        width: 20%;
    }
    .span-xxxl-5{
        width: 25%;
    }
    .span-xxxl-6{
        width: 30%;
    }
    .span-xxxl-7{
        width: 35%;
    }
    .span-xxxl-8{
        width: 40%;
    }
    .span-xxxl-9{
        width: 45%;
    }
    .span-xxxl-10{
        width: 50%;
    }
    .span-xxxl-11{
        width: 55%;
    }
    .span-xxxl-12{
        width: 60%;
    }
    .span-xxxl-13{
        width: 65%;
    }
    .span-xxxl-14{
        width: 70%;
    }
    .span-xxxl-15{
        width: 75%;
    }
    .span-xxxl-16{
        width: 80%;
    }
    .span-xxxl-17{
        width: 85%;
    }
    .span-xxxl-18{
        width: 90%;
    }
    .span-xxxl-19{
        width: 95%;
    }
    .span-xxxl-20{
        width: 100%;
    }
    .p2ircBackdropVideo{
        width:100%;
        height:auto;
    }
    .img{
        width: 100%;
        height: auto;
    }
    .floating-toolbar > button{
        font-size: large;
    }
}

@media screen and (min-width: 2401px){
    .span-4xl-1{
        width: 5%;
    }
    .span-4xl-2{
        width: 10%;
    }
    .span-4xl-3{
        width: 15%;
    }
    .span-4xl-4{
        width: 20%;
    }
    .span-4xl-5{
        width: 25%;
    }
    .span-4xl-6{
        width: 30%;
    }
    .span-4xl-7{
        width: 35%;
    }
    .span-4xl-8{
        width: 40%;
    }
    .span-4xl-9{
        width: 45%;
    }
    .span-4xl-10{
        width: 50%;
    }
    .span-4xl-11{
        width: 55%;
    }
    .span-4xl-12{
        width: 60%;
    }
    .span-4xl-13{
        width: 65%;
    }
    .span-4xl-14{
        width: 70%;
    }
    .span-4xl-15{
        width: 75%;
    }
    .span-4xl-16{
        width: 80%;
    }
    .span-4xl-17{
        width: 85%;
    }
    .span-4xl-18{
        width: 90%;
    }
    .span-4xl-19{
        width: 95%;
    }
    .span-4xl-20{
        width: 100%;
    } 
    .p2ircBackdropVideo{
        width:100%;
        height:auto;
    }
    .img{
        width: 100%;
        height: auto;
    }
    .floating-toolbar > button{
        font-size: large;
    }
}